body {
  background-color: aquamarine;
}
.grid {
  width: 60%;
  height: 75%;
  margin: 0 auto;
  margin-top:100px;
  background-color:blueviolet;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
}
.grid h1 {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: brown;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0px;
  border-radius: 50px;
}
hr {
  margin-bottom: 20px;
}
.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: #000;
  text-align: center;
}


.buttons {
  margin-top: 30px;
  text-align: center;
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: aqua;
  width: 350px;
  font-size: 20px;
  color: brown;
  border: 1px solid #1D3C6A;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  cursor: pointer;
  background-color: aqua;
  opacity:0.5;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline: 0;
}
#left{
  float: left;
  width: 40%;
  overflow: hidden;
}

#right{
  overflow: hidden;
}

#progress {
  color: #fff;
  font-size: 21px;
  text-align: center;
}
/* 
.ChangingQuestion{
  text-align: center;
 
}
button{
  width: 200px;
  border: 1px solid #1D3C6A;
  padding: 10px 10px;

}
#next, #prev{
  margin-top:20px;
  padding: 12px;
}
#prev{
  margin-left: 0px;
  
}

.button a{
  background-color: aqua;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
} */